@media screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        background-color: rgb(232, 225, 223);
        color: rgb(0, 0, 0);
    }

    /* styles.css の .btn-flat を書き換え */
    button.btn-flat {
        background: #000;
        color: #fff;
        padding: 15px 30px;
        border: none;
        /* 右上と左下を斜めにカット */
        clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0% 30%);
        transition: background 0.3s;
    }

    button.btn-flat:active {
        background: #444;
        /* タップ時に少し明るく */
    }

    .fixed-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: black;
    }

    .fixed-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: black;
    }

    .main-content {

        display: grid;
        /* グリッドレイアウトを使用 */
        place-content: center;

        /* コンテンツを中央に配置 */
        justify-items: center;
        /* 各子要素を「Hug Contents」にする */
        height: 100vh;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .mini-content {
        margin-bottom: 20px;
    }

}