@media screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        background-color: rgb(232, 225, 223);
        color: rgb(0, 0, 0);
    }

    button.btn-flat {
        position: relative;
        /* パーツの基準位置 */
        overflow: hidden;
        /* はみ出たパーツを隠す */

        /* 見た目 */
        background: #000;
        /* 背景は黒 */
        color: #fff;
        /* 文字は白 */
        padding: 12px 24px;
    }

    /* 左下からスライドしてくるパーツ */
    button.btn-flat:before {
        content: '';
        position: absolute;
        top: 0;
        left: -150%;
        /* 左側に待機 */
        width: 150%;
        height: 500%;
        background: rgb(232, 225, 223);
        transform: rotate(45deg);
        transition: all .5s;
    }

    /* 右上からスライドしてくるパーツ */
    button.btn-flat:after {
        content: '';
        position: absolute;
        top: -400%;
        /* 上側に待機 */
        right: -150%;
        /* 右側に待機 */
        width: 150%;
        height: 500%;
        background: rgb(232, 225, 223);
        transform: rotate(45deg);
        transition: all .5s;
    }

    .fixed-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: black;
    }

    .fixed-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: black;
    }

    .main-content {

        display: grid;
        /* グリッドレイアウトを使用 */
        place-content: center;

        /* コンテンツを中央に配置 */
        justify-items: center;
        /* 各子要素を「Hug Contents」にする */
        height: 100vh;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .mini-content {
        margin-bottom: 20px;
    }

    .yoko-container {
        display: flex;

    }

}